body {
	background-color: hsl(202, 66%, 24%);
	color: white;
	margin: 0px;
  font-family: 'Courier New', Courier, monospace, Arial, Helvetica, sans-serif;
}

button:hover, a:hover{
	cursor: pointer;
}